{% extends "recipes/recipe_list.html" %}

{% block title %}
    Search for "{{ query }}"
{% endblock %}

{% block content %}    
    {% if query %}
        {% with page.object_list as recipes %}
            {{ block.super }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block recipe_loop %}
    {% if recipe.object %}
        {% with score=recipe.score recipe=recipe.object %}
            {{ block.super }}
        {% endwith %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}