{% load comments i18n %}
{% if user.is_authenticated %}
<a href="{% comment_form_target %}" id="add-comment" class="pull-right" data-toggle="modal" data-target="#comment-modal" data-remote="false"><span class="glyphicon glyphicon-pencil"></span>Add a comment</a>
{{ form.media }}
<div class="modal fade" id="comment-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a comment</h4>
            </div>
            <form id="form-comment" role="form" method="POST" action="{% comment_form_target %}">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form %}
                        {% if field.is_hidden %}
                            <div>{{ field }}</div>
                        {% else %}
                            {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                                {% if field.errors %}{{ field.errors }}{% endif %}
                                <p
                                    {% if field.errors %} class="error"{% endif %}
                                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                    {{ field }}
                                </p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary submit" type="submit" role="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
