{% if recipes %}
<ul class="recipe-list">
    {% for recipe in recipes %}
    <li class="recipe-item">
        <a href="{% url "recipe_by_slug" recipe.slug %}">
            <div class="recipe-image">
                <img src="{{ recipe.small_picture.thumbnail.url }}" alt="{{ recipe.title }}" class="thumbnail" />
            </div>
            <div class="recipe-title">
                {{ recipe.title }}
            </div>
        </a>
        <div class="recipe-detail">
            <span class="recipe-meta">Créé le {{ recipe.creation_time|date}} par {{ recipe.author }}.</span><br/>
            <span class="recipe-content">{{ recipe.content|truncatechars:100 }}</span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}