{% extends "recipes/base.html" %}
{% load duration %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <h1>{{ recipe.title }}</h1>
    
    <div id="picture">
        {% if recipe.picture %}
        <a href="{{ recipe.picture.url }}" ><img alt="Photo" src="{{ recipe.picture.preview.url }}" /></a>
        {% endif %}
    </div>
    
    <div id="meta">
        {% if recipe.preparation_time %}<p><span class="cookingsymbol">g</span>{{ recipe.preparation_time|naturalduration }}</p>{% endif %}
        {% for bakinginfo in recipe.bakinginfo_set.all %}
        <p><span class="cookingsymbol">{{ bakinginfo.type }}</span>{{ bakinginfo.time|naturalduration }}, <span class="cookingsymbol">t</span>{{ bakinginfo.temperature }}{{ bakinginfo.get_unit_display }}</p>
        {% endfor %}
        {% if recipe.portion %}<p><span class="cookingsymbol">d</span>{{ recipe.portion }}</p>{% endif %}
        <p>
            <span class="cookingsymbol">p</span> 
            {% for source in recipe.sources.all %}<a href="{% url 'recipes_by_source' source=source.slug %}">{{ source.name }}</a>{% if forloop.counter < recipe.sources.all|length %},&nbsp;{% endif %}{% endfor %}
        </p>
    </div>
    
    <div id="ingredients">
        <p class="section-title">Ingrédients</p>
        {{ recipe.ingredients_markup|safe }}
    </div>
    
    <div id="recipe">
        <p class="section-title">Préparation</p>
        {{ recipe.content_markup|safe }}
    </div>
    
    {% if recipe.hint %}
    <div id="hint">
        <p>Astuce</p>
        {{ recipe.hint }}
    </div>
    {% endif %}
{% endblock %}