{% extends "recipes/base.html" %}
{% load staticfiles ratings_tags comments duration %}

{% block title %}
{{ recipe.title }}<small><span class="pull-right text-right" id="rating" data-number="5" data-score="{{ recipe.ratings.average_score }}" data-path="{% static 'lib/jquery/images' %}" data-rate-url="{{ recipe|rate_url:0 }}" data-unrate-url="{{ recipe|unrate_url }}" data-readonly="{% if user.is_authenticated %}false{% else%}true{% endif %}"></span></small>
{% endblock %}

{% block content %} 
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-9">
            {% if recipe.preparation_time %}
            <div><span class="cookicon cookicon-gloves padded"></span>{{ recipe.preparation_time|naturalduration }}</div>
            {% endif %}
            
            <div>
                {% spaceless %}
                    {% for bakinginfo in recipe.bakinginfo_set.all %}
                        {% if bakinginfo.type == 'F' %}
                        <span class="cookicon cookicon-fanoven padded"></span>
                        {% elif bakinginfo.type == 'H' %}
                        <span class="cookicon cookicon-topbottomheat padded"></span>
                        {% elif bakinginfo.type == 'T' %}
                        <span class="cookicon cookicon-topheat padded"></span>
                        {% elif bakinginfo.type == 'B' %}
                        <span class="cookicon cookicon-bottomheat padded"></span>
                        {% elif bakinginfo.type == 'G' %}
                        <span class="cookicon cookicon-gasstove padded"></span>
                        {% elif bakinginfo.type == 'P' %}
                        <span class="cookicon cookicon-pan padded"></span>
                        {% endif %}
                        {{ bakinginfo.time|naturalduration }}, <span class="cookicon cookicon-temperature padded"></span>{{ bakinginfo.get_display }}<br/>
                    {% endfor %}
                {% endspaceless %}
            </div>
            
            {% if recipe.portion %}
            <div>
                <span class="cookicon cookicon-dish padded"></span>{{ recipe.portion }}
            </div>
            {% endif %}
            
            <div>
                <span class="glyphicon glyphicon-book padded"></span>
                {% for source in recipe.sources.all %}
                <a href="{% url 'recipes_by_source' source=source.slug %}">{{ source.name }}</a>
                {% if forloop.counter < recipe.sources.all|length %},&nbsp;{% endif %}
                {% endfor %}
            </div>
        </div>
        
        {% if recipe.picture %}
        <div class="col-xs-6 col-sm-4 col-md-3 pull-right">
            <a href="{{ recipe.picture.url }}" class="thumbnail thumbnail-detail">
                <img class="img-responsive" alt="{{ recipe.title }}" src="{{ recipe.picture.thumbnail.url }}" />
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right" id="ingredients">
            <h4 class="font-handlee">Ingredients</h4>
            {{ recipe.ingredients_markup|safe }}
        </div>
        
        <div class="col-xs-12 col-sm-8 col-md-9" id="recipe">
            <h4 class="font-handlee">Preparation</h4>
            {{ recipe.content_markup|safe }}
        </div>
    </div>
    
    {% if recipe.hint %}
    <div class="row">
        <div class="col-xs-12" id="hint">
            <h4 class="font-handlee">Hint</h4>
            <blockquote>
                <p>{{ recipe.hint }}</p>
            </blockquote>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12"  id="comment">
            <hr/>
            <h4 class="font-handlee">Comments</h4>
            <div id="comment-list">
                {% render_comment_list for recipe %}
            </div>
            <div id="comment-form">
                {% render_comment_form for recipe %}
            </div>
        </div>
    </div>
{% endblock %}